<ng-content select="h3"></ng-content>
<div class="card shadow p-3 mb-5 bg-white rounded" *ngFor="let account of accountsInfo | async">
    <div class="card-body">
        <div class="row">
            <div class="container">
                <div class="col-xs-1 pull-left">
                    <span><i class="fa fa-lg fa-money"></i></span>
                </div>
                <div class="col-xs-5 pull-left">
                  <span class="account-type">{{ accountType[account.accountType] }}</span> <br />
                  {{ account.accountNumber }}
                </div>
                <div class="col-xs-6 pull-right">
                    <div class="account-balance">{{ account.balance | currency }}</div>
                    <small>Available balance</small>
                </div>
            </div>
        </div>
    </div>
</div>
