<form [formGroup]="parent" novalidate>
  <h5>Account Terms & Conditions</h5>
  <hr />
  <div class="row mb-2">
    <section class="col-12">AGREEMENT - This document, along with any other documents we give you pertaining to your account(s), is a contract that establishes rules, 
      which control your account(s) with us. Please read this carefully. If you sign the signature card or open or continue to have your account with us, 
      you agree to these rules. You will receive a separate schedule of rates, qualifying balances, and fees if they are not included in this document. 
      If you have any questions, please call us.
    </section>
    <mat-checkbox formControlName="accountAgreement"
      class="col-12 mt-5">
      I agree with all terms and conditions of this agreement.
    </mat-checkbox>
  </div>
</form>