<div class="card w-100">
  <h5 class="card-header">Open new account</h5>
  <div class="card-body">
    <mat-horizontal-stepper linear #stepper>
      <mat-step [stepControl]="customer" completed="false">
        <ng-template matStepLabel>About you</ng-template>
        <div class="mt-3 mb-3">
          <app-customer-personal-information [parent]="newAccountForm"></app-customer-personal-information>
        </div>
        <button mat-stroked-button color="primary" class="mr-2 col-2" (click)="stepperNext()">Next</button>
      </mat-step>
      <mat-step [stepControl]="account" completed="false">
        <ng-template matStepLabel>Account options</ng-template>
        <div class="mt-3 mb-3">
          <app-customer-account-information [parent]="newAccountForm"></app-customer-account-information>
        </div>
        <div>
          <button mat-stroked-button color="warn" class="mr-2 col-2" matStepperPrevious>Back</button>
          <button mat-stroked-button color="primary" class="mr-2 col-2" (click)="stepperNext()">Next</button>
        </div>
      </mat-step>
      <mat-step [completed]="stepperCompleted">
        <ng-template matStepLabel>Terms</ng-template>
        <div class="mt-3 mb-3">
          <app-account-terms [parent]="newAccountForm"></app-account-terms>
        </div>
        <div>
          <button mat-stroked-button color="warn" class="mr-2 col-2" matStepperPrevious>Back</button>
          <button mat-raised-button
                  color="primary"
                  class="mr-2 col-2"
                  type="button"
                  [disabled]="newAccountForm.invalid"
                  (click)="stepperNext();createAccount();">
            Create
          </button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div class="mt-3 mb-3">
          <h5>Account created! You are now done.</h5>
        </div>        
        <div>
          <button mat-stroked-button
                  color="accent"
                  class="mr-2 col-2"
                  [routerLink]="['/account']">
            Done
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <!-- <pre>{{this.newAccountForm.value | json}}</pre> -->
  </div>
</div>
