<form [formGroup]="closeAccountForm" novalidate>
  <div class="card">
    <div class="card-header bg-info text-warning">Close an account</div>
    <div class="card-body">
      <div class="row">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Account</mat-label>
          <mat-select formControlName="accountId">
            <mat-option *ngFor="let account of bankAccounts" [value]="account.accountId">
              <span>{{ accountType[account.accountType] }} (account number: {{ account.accountNumber }})</span>
              <small class="pull-right"> Current balance: {{ account.balance | currency }}</small>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mt-3">
        <button mat-stroked-button color="warn" class="mr-3 col-3" routerLink="/account">
          Cancel
        </button>
        <button mat-raised-button color="primary" class="col-3" type="button" 
          (click)="closeAccount();" [disabled]="closeAccountForm.invalid">
          Close Account
        </button>
      </div>
    </div>
  </div>
</form>