$crm-command-bar-height-desktop: 56px !default;
$crm-command-bar-height-mobile: 0 !default;
$crm-component-title-margin: 16px !default;
$mat-xsmall: 'max-width: 599px';
$mat-small: 'max-width: 959px';

.command-bar-row {
  height: $crm-command-bar-height-desktop !important;
  min-height: $crm-command-bar-height-desktop !important;
  padding-left: 8px;
  padding-right: 8px;

  @media ($mat-xsmall) {
    height: $crm-command-bar-height-mobile !important;
    min-height: $crm-command-bar-height-mobile !important;
  }
}

.command-bar-button {
  min-width: 48px;
  padding: 0 16px;
}

.command-bar {
  position: inherit;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  max-height: 50px;
  min-height: 50px;
}