<mat-toolbar color="primary" class="navigation-bar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">eBank</span>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <ul fxLayout fxLayoutGap="20px" class="navigation-items">
        <li fxHide.xs>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li fxHide.xs>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button [matMenuTriggerFor]="auth">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #auth="matMenu">
            <div *ngIf="isAuthenticated">
              <button mat-menu-item
                [routerLink]="['/customer/updatecustomer', customerId]">
                <mat-icon>person_pin</mat-icon>
                Update profile
              </button>
              <button mat-menu-item
                (click)="logOut()">
                <mat-icon>lock</mat-icon>
                Sign out
              </button>
            </div>
            <div *ngIf="!isAuthenticated">
              <button mat-menu-item
                [routerLink]="['/login']">
                <mat-icon>lock_open</mat-icon>
                Log in
              </button>
            </div>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>