<div class="card mb-3" *ngIf="additionalInfo">
    <div class="card-header">{{ additionalInfo.title }}</div>
    <div class="card-body p-3">
        <div class="row" *ngFor="let item of additionalInfo.items">
            <div class="col">
                <mat-form-field class="block">
                    <mat-label class="text-info font-weight-bold">{{item.text}}</mat-label>
                    <input matInput readonly  class="text-primary" value="{{item.value}}" />
                </mat-form-field>
            </div>
        </div>
    </div>
</div>