<div class="card w-100">
  <h5 class="card-header">Create new account</h5>
  <div class="card-body">
    <form [formGroup]="form" novalidate (ngSubmit)="createAccount()">
      <div formGroupName="account">
        <div class="row">
            <mat-form-field class="col-6">
              <mat-label for="accountType">Account type</mat-label>
              <mat-select formControlName="accountType">
                <mat-option
                  *ngFor="let item of accountTypeItems"
                  [value]="accountType[item]">
                  {{ item }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f.accountType?.hasError('required')">Account type is required</mat-error>
            </mat-form-field>
        </div>
        <div class="row">        
          <mat-form-field class="col-6">
              <mat-label>Account number</mat-label>
              <input matInput
                type="number"
                formControlName="accountNumber"
                placeholder="Account number"
                [ngClass]="{'is-invalid': f.accountNumber.touched && f.accountNumber.errors}">
              <mat-error *ngIf="f.accountNumber?.hasError('required')">Account number is required</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-6">
              <mat-label for="balance">Balance</mat-label>
              <input matInput
                type="number"
                placeholder="Initial balance"
                formControlName="balance">
          </mat-form-field>
        </div>
        <button mat-raised-button
          type="submit"
          [disabled]="form.invalid"
          color="primary"
          class="mr-2 col-3">
          Create
        </button>
        <button mat-button
          type="button"
          [routerLink]="['/account']"
          color="warn"
          class="col-2">
          Cancel
        </button>
      </div>
      <!-- {{this.form.value.account | json}} -->
    </form>
  </div>
</div>
