<div class="card">
    <div class="card-header bg-info text-warning">Account Summary</div>
    <div class="card-body">
        <button mat-raised-button color="primary" routerLink="/createaccount" class="mr-2">Open a New Account</button>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-2" *ngIf="accountsInfo?.length > 0">
            <ng-container matColumnDef="accountType">
                <th mat-header-cell *matHeaderCellDef> Account Type </th>
                <td mat-cell *matCellDef="let account">
                    <a [routerLink]="['/account', account.accountId]" class="text-success font-weight-bold">{{ accountType[account.accountType] }}</a>
                </td>
            </ng-container>
            <ng-container matColumnDef="accountNumber">
                <th mat-header-cell *matHeaderCellDef> Account Number </th>
                <td mat-cell *matCellDef="let account">{{ account.maskedAccountNumber }}</td>
            </ng-container>
            <ng-container matColumnDef="balance">
                <th mat-header-cell *matHeaderCellDef> Balance </th>
                <td mat-cell *matCellDef="let account"> {{ account.balance | currency }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="accountsInfo?.length === 0" class="mt-1">No records found.</div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>
