<mat-accordion>
    <mat-expansion-panel [expanded]="isExpanded">
        <mat-expansion-panel-header class="bg-info">
            <mat-panel-title class="text-warning">
                Account Summary
            </mat-panel-title>
        </mat-expansion-panel-header>
            <div class="card shadow p-3 mb-4 mt-4 bg-white rounded" *ngFor="let accountModel of accountsInfo | async">
                <div class="card-body">
                    <div class="row">
                        <div class="container">
                            <div class="col-xs-1 pull-left">
                                <span><i class="fa fa-lg fa-money"></i></span>
                            </div>
                            <div class="col-xs-5 pull-left">
                                <span class="account-type">{{ accountType[accountModel.account.accountType] }}</span> <br />
                                {{ accountModel.account.accountNumber }}
                            </div>
                            <div class="col-xs-6 pull-right">
                                <div class="account-balance">{{ accountModel.account.balance | currency }}</div>
                                <small>Available balance</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </mat-expansion-panel>
</mat-accordion>
