<form [formGroup]="form" novalidate>
  <div class="card">
    <div class="card-header">Address</div>
    <div class="card-body">
      <div class="row">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label for="address1">Address 1</mat-label>
            <input matInput
              type="text"
              formControlName="address1">
            <mat-error *ngIf="f.address1?.hasError('required')">Address 1 is required</mat-error>
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label for="address2">Address 2</mat-label>
            <input matInput
              type="text"
              formControlName="address2">
          </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label for="city">City</mat-label>
          <input matInput
            type="text"
            formControlName="city">
          <mat-error *ngIf="f.city?.hasError('required')">City is required</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>State</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngFor="let state of states" [value]="state">
              {{ state }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-6" appearance="outline">
            <mat-label for="zip">Zip code</mat-label>
            <input matInput
              type="number"
              formControlName="zip">
            <mat-error *ngIf="f.zip?.hasError('required')">Zip code is required</mat-error>
          </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country">
            <mat-option *ngFor="let country of countries" [value]="country">
              {{ country }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>