<app-navigation-bar (toggleSidenav)="toggleNav()" [isAuthenticated]="isAuthenticated" [loggedInUsername]="loggedInUsername">
</app-navigation-bar>
<!-- <app-command-bar [commandBarButtons]="commandBarButtons" [isAuthenticated]="isAuthenticated">
</app-command-bar> -->
<app-side-nav [toggleSideNav]="toggle" [appRoutes]="userAppRoutes">
    <div class="row nomargin container-padding">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</app-side-nav>
