<div class="card">
  <div class="card-header bg-info text-warning">Account Transactions</div>
  <div class="card-body">
    <button mat-raised-button color="primary" routerLink="/account" class="mr-2">
      <mat-icon>money</mat-icon>
      Account Summary</button>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">list</mat-icon>
          All Transactions
        </ng-template>
        <app-account-transactions [accountTransactions]="allAccountTransactions"></app-account-transactions>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">call_received</mat-icon>
          Deposits
        </ng-template>
        <app-account-transactions [accountTransactions]="depositAccountTransactions"></app-account-transactions>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">call_made</mat-icon>
          Withdrawals
        </ng-template>
        <app-account-transactions [accountTransactions]="withdrawAccountTransactions"></app-account-transactions>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>