.mat-sidenav-container {
    height: 100%;
}

.mat-sidenav {
  margin-top: 50px;
}

.mat-sidenav-content {
  margin: 50px 20px 10px 20px;
  padding: 20px 0 100px 0;
}

$sidenav-width: 270px;

.mat-sidenav {
  width: $sidenav-width;
}

.toolbar-title {
  margin: 0 16px 0 16px;
}

.mat-subheader {
  font-size: 14px;
  font-weight: bold;
}

.app-nav-list-icon {
  margin: 0 10px 0 10px;
}

.list-item-active {
  color: green;
}
