.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav-content {
  margin: 70px 20px 0 20px;
}

$sidenav-width: 270px;

.mat-sidenav {
  width: $sidenav-width;
}

.toolbar-title {
  margin: 0 16px 0 16px;
}

.mat-subheader {
  font-size: 14px;
  font-weight: bold;
}

.app-nav-list-icon {
  margin: 0 10px 0 10px;
}
