<mat-sidenav-container autosize>  
  <mat-sidenav #navigationSideNav mode="over" role="navigation">  
    <mat-nav-list *ngFor="let appRoute of appRoutes;">  
      <h5 matSubheader>{{ appRoute.routeHeader }}</h5>
      <a *ngFor="let item of appRoute.routeItems" 
        mat-list-item 
        (click)="navigationSidenav.close()"
        [routerLink]='[item.route]'
        routerLinkActive="list-item-active">
        <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
        <small>{{ item.title }}</small>
      </a> 
    </mat-nav-list>  
  </mat-sidenav>
  <mat-sidenav-content role="main" class="mat-sidenav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
  