<div class="card">
  <div class="card-header bg-info text-warning">Update customer</div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-6">
            <app-customer-basic [form]="customerForm.controls.customer"></app-customer-basic>
        </div>
        <div class="col-6">
            <app-address [form]="customerForm.controls.address"></app-address>
        </div>            
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <button mat-raised-button
          color="primary"
          class="col-3 pull-right"
          type="button"
          [disabled]="customerForm.invalid"
          (click)="updateCustomer()">
          Update
        </button>
        <button mat-stroked-button 
          color="warn" 
          class="mr-3 col-3 pull-right"
          [routerLink]="['/account']">
          Cancel
        </button>        
      </div>                       
    </div>
  </div>
</div>
<pre>{{this.customerForm.value | json}}</pre>